

/* universal font family */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: darkblue;
}

/* BMI calculator */
.BMI-calculator{
    min-height: 70vh;
    width: 35vw;
    background-color: rgb(23, 23, 85);
    border-radius: 20px;
    text-align:center;
    padding: 20px 40px;
    padding-bottom: 40px;
}

/* BMI heading */
.BMI-heading{
    color:white;
    font-size: 1.2rem;
    line-height: 2.5;
}

.height-weight-choice{
    display:flex;
    justify-content:center;
    gap: 15px;
}


.height-weight label{
    margin-left: 0.5rem;
    font-size: 1rem;
}

.height-weight input[type = "radio"]{
    position: relative;
    bottom: 0.1rem;
    cursor: pointer;
}

/* height container */
.height-weightContainer{
    display:flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 1rem;
    min-height:10vh;
}


input[type = "number"]{
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1.2rem;
}


/* calculate button */
.calcuate-btnContainer{
    display:flex;
    justify-content:center;
    align-items:center;
}


.calcuate-btnContainer button{
    width: 25vw;
    height: 6vh;
    font-weight: bold;
    color:white;
    background-color:hsl(120, 59%, 44%);
    border:none;
    border-radius: 10px;
    font-size: 1.2rem;
}

.calcuate-btnContainer button:hover{
    cursor: pointer;
    filter: brightness(90%);
}

/* media queries */


/* large desktop screens */
@media (max-width: 1024px){
    .BMI-calculator{
        min-height: 80vh !important;
        width: 40vw;
        padding-bottom: 40px !important;
    }

    .BMI-heading{
        line-height: 2;
    }

    .BMI-heading h1{
        font-size: 1.4rem;
    }
}


/* tablet screens */
@media (max-width: 768px){
    .BMI-calculator{
        min-height: 50vh !important;
        width: 50vw;
    }

    input[type = "number"]{
        width: 30vw;
    }

    button{
        width: 30vw !important;
    }

    .BMI-result{
        width: 30vw !important;
        height: 7vh !important;
    }
}


/* mobile screens */
@media (max-width: 600px){
    .BMI-calculator{
        width: 60vw !important;
    }

    input[type = "number"]{
        width: 40vw;
    }

    button{
        width: 40vw !important;
    }

    .BMI-result{
        width: 40vw !important;
    }
}